.header
{
    background: #0F398C;
    color: white;
}

.principal 
{
    color: white;
}

.body
{
    /*background-image: url(../img/neve.jpg);*/
}

div .cabecalho
{
    color: black;
    /*font-family: 'Finger Paint', cursive;*/
    margin-top: 50px;
}

.subtitulo
{
    color: black;
    /*font-family: 'Finger Paint', cursive;*/
    /*font-family: 'Ceviche One'*/
}